* {
	box-sizing: border-box;
	color: #33313b;
}

body {
	margin: 0;
	background-color: #e6f5ff50;
}

#root {
	width: 80%;
	max-width: 1024px;
	min-height: 100vh;
	margin: auto;
	padding: 40px 30px;
	box-shadow: 0 0 10px 0 #33313b50;
}

#cep {
	font-size: 20px;
	font-weight: 600;
	letter-spacing: 3px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#cep input {
	font-size: 20px;
}

#cep button {
	font-size: 20px;
	color: aliceblue;
	background-color: #3c4f65;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}

#cep button:hover {
	color: #3c4f65;
	background-color: aliceblue;
}

#zip_data {
	font-size: 18px;
	width: 100%;
	margin: 3vh auto;
	text-align: center;
}

#zip_data * {
	border: 1px solid #33313b;
}

#map {
	height: 400px;
	width: 100%;
	margin: 10vh auto 5vh;
}