* {
    font-weight: 400;
    color: #202020;
    box-sizing: border-box;
}

body {
    margin: 0;
    overflow-y: hidden;
}

#container {
    width: 80%;
    height: 85vh;
    margin-inline: auto;
    margin-top: 7vh;
    align-content: flex-start;
    display: flex;
    flex-direction: column;
    max-width: 1920px;
    padding: 40px 30px;
    box-shadow: 0px 0px 20px 0px #20202040;
}

#heading {
    letter-spacing: 4px;
    font-weight: 100;
    font-size: 40px;
    text-shadow: 2px 2px 2px #20202030;
    text-align: center;
}

#form_section,
#login_section {
    padding: 20px;
    display: flex;
    justify-content: flex-start;

    box-shadow: 0px 0px 10px 0px #20202015;
}

input {
    border: none;
    outline: none;
    margin: 0.5vh auto;
    width: 100%;
    font-size: 15px;
    font-weight: 300;
    background-color: rgba(216, 236, 253, 0.527);
    transition: all 0.2s ease-in-out;
}

input:focus {
    border: 3px groove #061ef1;
    background-color: aliceblue;
}

button {
    cursor: pointer;
    border: none;
    border-radius: 3px;
    color: white;
    background-color: #061ef1;
    margin-top: 1vh;
    padding: 4px 8px;
    font-size: 14px;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
}

button:hover {
    background-color: #202020;
    color: #061ef1;
}

#render_user {
    padding: 10px;
    margin-top: 1vh;
}

#render_user .user_data {
    width: 70%;
    font-size: 18px;
    font-weight: 500;
    margin: 1.5vh auto;
}

#classified_img {
    width: 80vw;
    max-width: 768px;
    display: block;
    margin: 5vh auto;
}

#classified_button {
    display: block;
    margin: 10vh auto;
    font-style: italic;
    padding: 4px 16px;
}