*{
    box-sizing: border-box;
}

body{
    width: 80vw;
    color: #404040;
    background-color: #ffffff ;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    max-width: 1920px;
    left: 0;
    right: 0;
    margin: auto;
}

.hr-light{
    color: #cadde6;
    background-color: #cadde6;
    width: 100%;
    border: solid 2px;
    padding: 0px;
    margin: 0px;
}

.hr-dark{
    color: #303258;
    background-color: #303258;
    width: 100%;
    border: solid 2px;
    padding: 0px;
    margin: 0px;
}

header{
    width: 100%;
    flex-direction: column;
    padding: 1%;
    max-width: 1920px;
    margin: auto;
}

header .name-image{
    width: inherit;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1%;
    margin: auto;
}

.name-image h1{
    color: #303258;
    width: inherit;
    font-size: 3em;
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

h3{
    color: #303258;
    text-align: left;
    justify-content: center;
}

.name-image img{
    width: 15%;
    height: 15%;
    vertical-align: middle;
    border-radius: 500px;
    margin: auto;
}

header .text-career{
    width: inherit;
    height: 100%;
    display: table;
    vertical-align: top;
    text-align: center;
    padding: 1%;
}

.text-career{
    color: #000000;
    display: table-cell;
    font-size: 2.5em;
}

.info-contact{
    width: inherit;
    display: inline-flex;
    flex-direction: row;
    padding: 1%;
    justify-content: space-between;
    margin: auto;
}

.general{
    width:  24%;
    text-align: center;
    font-size: 0.7em;
}

.general img{
    width: 28%;
}

.general img:hover{
    filter: invert(0%) sepia(0%) saturate(24%) hue-rotate(202deg) brightness(80%) contrast(100%);
}

.general a:link{
    color: #365159;
}

.general a:visited{
    color: #367588;
}

main{
    width: 100%;
    display: flex;
    vertical-align: top;
    padding: 0% 1%;
    flex-direction: row;
    margin: 1%;
}

.left-column{
    width: 50%;
    padding: 1%;
    margin: auto;

}

.dark-table{
    background-color: #cadde6;
    width: 50%;
    vertical-align: top;
    padding: 1%;
    margin: 0%;
}

.texts{
    text-align: justify;
    padding: 1%;
}

.texts p{
    text-indent: 5%;
    text-align: justify;
    padding: 1%;
}

footer{
    padding: 1%;
}

footer hr{
    background-color: #cadde6;
    border-color:#cadde6;
    width: 100%;
    padding: 2px;
    margin: auto;
}