html{
    background-color: #262626 ;
    color: #f6f6f6 ;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.hr-light{
    color: #c4cfe9;
    border: solid 2px;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.hr-dark{
    color: #365159;
    border: solid 2px;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

header{
    padding: 1%;
    flex-direction: column;
    width: 98%;
    margin: auto;
    box-sizing: border-box;
}

header .name-image{
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: inherit;
    margin: auto;
    padding: 1%;
}

.name-image h1{
    color: #c4cfe9;
    font-size: 3em;
    width: inherit;
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

h3{
    color: #c4cfe9;
    text-align: left;
    justify-content: center;
}

.name-image img{
    width: 15%;
    height: 15%;
    margin: auto;
    vertical-align: middle;
    border-radius: 500px;
    box-shadow: 0.3em 0.3em 0.1em #365159;
}

header .text-career{
    display: table;
    vertical-align: top;
    text-align: center;
    width: inherit;
    height: 100%;
    padding: 1%;
    
}

.text-career h2{
    display: table-cell;
    font-size: 2.5em;
}

.info-contact{
    display: inline-flex;
    flex-direction: row;
    width: inherit;
    margin: auto;
    padding: 1%;
    justify-content: space-between;
}

.general{
    width:  24%;
    text-align: center;
    font-size: 0.7em;
}

.general img{
    width: 30%;
}

.general img:hover{
    width: 32%
}

.general a:link{
    color: #365159;
}

.general a:visited{
    color: rgb(97, 31, 160);
}

    main{
    display: inline-flex;
    vertical-align: top;
    padding: 0% 1%;
    flex-direction: row;
    width: 98%;
    margin: 1%;
    box-sizing: border-box;
}

.left-column{
    width: 50%;
    padding: 1%;
    margin: auto;

}

.dark-table{
    background-color: #365159;
    width: 50%;
    margin: 0 0;
    vertical-align: top;
    padding: 1%;
    box-sizing: border-box;
}

.objective p{
    text-indent: 5%;
    text-align: justify;
    padding: 1%;
}

.experience .qualifications .it .ad-information{
    text-align: justify;
    padding: 1%;
}

.formation{
    text-indent: 5%;
    text-align: justify;
    padding: 1%;
}

footer{
padding: 1%;
}

footer hr{
    background-color: #365159;
    border-color:#365159;
    width: 98%;
    padding: 2px;
    margin: auto;
}