html{
    background-color: #ffffff ;
    color: #404040;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.hr-light{
    color: #cadde6;
    background-color: #cadde6;
    border: solid 2px;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.hr-dark{
    color: #303258;
    background-color: #303258;
    border: solid 2px;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

header{
    padding: 1%;
    flex-direction: column;
    width: 98%;
    margin: auto;
    box-sizing: border-box;
}

header .name-image{
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: inherit;
    margin: auto;
    padding: 1%;
}

.name-image h1{
    color: #303258;
    font-size: 3em;
    width: inherit;
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

h3{
    color: #303258;
    text-align: left;
    justify-content: center;
}

.name-image img{
    width: 15%;
    height: 15%;
    margin: auto;
    vertical-align: middle;
    border-radius: 500px;
    
}

header .text-career{
    display: table;
    vertical-align: top;
    text-align: center;
    width: inherit;
    height: 100%;
    padding: 1%;
    
}

.text-career {
    display: table-cell;
    font-size: 2.5em;
    color: #000000;
}

.info-contact{
    display: inline-flex;
    flex-direction: row;
    width: inherit;
    margin: auto;
    padding: 1%;
    justify-content: space-between;
}

.general{
    width:  24%;
    text-align: center;
    font-size: 0.7em;
}

.general img{
    width: 28%;
}

.general img:hover{
    filter: invert(0%) sepia(0%) saturate(24%) hue-rotate(202deg) brightness(80%) contrast(100%);
}

.general a:link{
    color: #365159;
}

.general a:visited{
    color: #367588;
}

main{
    display: flex;
    vertical-align: top;
    padding: 0% 1%;
    flex-direction: row;
    width: 98%;
    margin: 1%;
    box-sizing: border-box;
}

.left-column{
    width: 50%;
    padding: 1%;
    margin: auto;

}

.dark-table{
    background-color: #cadde6;
    width: 50%;
    margin: 0 0;
    vertical-align: top;
    padding: 1%;
    box-sizing: border-box;
}

.objective p{
    text-indent: 5%;
    text-align: justify;
    padding: 1%;
}

.experience .qualifications .it .ad-information{
    text-align: justify;
    padding: 1%;
}

.formation p{
    text-indent: 5%;
    text-align: justify;
    padding: 1%;
}

footer{
    padding: 1%;
}

footer hr{
    background-color: #cadde6;
    border-color:#cadde6;
    width: 98%;
    padding: 2px;
    margin: auto;
}