*{
    box-sizing: border-box;
}

body{
    font-family: Poppins ,  sans-serif;
    width: 100vw;
    height: 100vh;
    max-width: 1920px;
    background-color: #eeeeee;
    display: flex;
    text-align: center;
    flex-direction: column;
    left: 0;
    right: 0;
    margin: 0%;
}

body h1{
    font-size: 3rem;
}

body h2{
    font-weight: normal;
}

main{
    display: flex;
    flex-direction: row;
}

#left-box-in-main{
    width: 50%;
    text-align: left;
    padding-left: 15%;
    padding-top: 2%;
}

#right-box-in-main{
    width: 50%;
    padding-left: 15%;
}

#results{
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    vertical-align: baseline;
    width: fit-content;
    height: 100%;
    text-align: left;
}

