@font-face {
    font-family: "Palatino";
    src: url("../../novembro-2021/fonts/Palatino.ttf");
}

@font-face {
    font-family: "Spinnaker";
    src: url("../../novembro-2021/fonts/Spinnaker-Regular.ttf");
}