*{
    box-sizing: border-box;
}

body{
    width: 100vw;
    max-width: 1920px;
    color: #2B2D42;
    background-color: white;
    font-family: Roboto, sans-serif;
    overflow-x: hidden;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 0;
    right: 0;
    margin: 0%;
}

#hamburguer-request{
    width: 50%;
    background-color: #EDF2F4;
    padding: 2%;
    display: none;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 3px 3px 10px #2B2D42;
    border: thick #8D99AE;
    position: fixed;
    bottom: 1%;
    right: 25%;
    z-index: 9999;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-inline: auto;
}

#hamburguer-request p{
    font-size: 1.2rem;
    text-align: left;
}

#hamburguer-request button{
    width: fit-content;
    color: #8D99AE;
    background-color: #EF233C;
    font-weight: bold;
    border: 0px;
    font-size: 1.3rem;
    padding: 2%;
    border-radius: 10px;
    margin-top: 5%;
}

main{
    width: 50%;
    background-color: #EDF2F4;
    box-shadow: 3px 3px 10px #2B2D42;
    padding: 2%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: thick #8D99AE;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-inline: auto;
}

main h1{
    color: #2B2D42;
    font-size: 2.2rem;
}

main h1 span{
    color: #EF233C;
}

main h2{
    color: #2B2D42;
    font-size: 1.8rem;
    font-style: italic;
    text-decoration: underline;
}

main h2 span{
    color: #EF233C;
}

main h3{
    font-size: 1.5rem;
    color: #EF233C;
}

form{
    width: 100%;
    padding: 1%;
    display: flex;
    flex-direction: column;
    text-align: left;
}

#btnShowCart{
    width: fit-content;
    color: #8D99AE;
    background-color: #EF233C;
    font-weight: bold;
    border: 0px;
    font-size: 1.3rem;
    padding: 2%;
    border-radius: 10px;
    margin-top: 5%;
}