@font-face {
    font-family: "proxima-nova";
    src: url("../fonts/proxima_nova_regular-webfont.woff") format('woff');
}

@font-face {
    font-family: "chelsea";
    src: url("../fonts/ChelseaMarket-Regular.ttf") format('truetype'),
         url("../fonts/ChelseaMarket-Regular.woff") format('woff');
}

body{
    background-color: #8fd3e8;
    font-family: "proxima-nova";
    width: 100%;
    max-width: 1920px;
    left: 0;
    right: 0;
    margin: 0%;
}

header{
    background-color: #ffffff;
    box-shadow: 0 0 0.5em transparent;
    width: 100%;
    height: 205px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    display: inline-flex;
    flex-direction: column;
}

.menu{
    width: 100%;
    height: 100%;
    text-align: center;
    box-sizing: border-box;
}

.menu img{
    padding-top: 1%;
}

nav{
    color: #0c0c0c;
    background-color: #f7f7f7;
    width: 100%;
    text-align: center;
    margin-bottom: 0px;
    margin-inline: 0px;
}

.nav-itens{
    width: 53%;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
}

.nav-itens a{
    font-size: 0.9rem;
    padding: 1%;
}

.nav-itens a:hover{
    color: #8fd3e8;
    cursor: pointer;
}

.image-bg{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-image: url("../images/aula-08-11/gato.png");
    position: relative;
    margin-top: 205px;
}

.text-in-image-bg{
    color: white;
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-inline: auto auto;
}

.text-in-image-bg h2{
    font-weight: normal;
    font-family: chelsea;
    font-size: 4.5rem;
    margin-bottom: 0%;
}

.section2{
    background-color: white;
    width: 100%;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
}
.section2 h2{
    color: #8fd3e8;
    font-family: chelsea;
    font-weight: normal;
    font-size: 2.2rem;
    margin-top: 8%;
    margin-bottom: 1%;
}

.section2 h6{
    color: #7b7a7a;
    font-size: 1rem;
    margin: 0%;
}

.titles-in-section2{
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-sizing: border-box;
    margin: auto;
}

.frame-in-section2{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.frame-in-section2 img{
   margin: auto;
}

.frame-in-section2 h3{
    color: #8fd3e8;
    font-family: chelsea;
    font-weight: normal;
    font-size: 1.3rem;
}

.frame-in-section2 p{
    color: #7b7a7a;
    font-size: 1rem;
    margin-top: 0px;
}

.frame-in-section2 a{
    color: white;
    background-color: #8fd3e8;
    width: fit-content;
    font-size: 0.9rem;
    text-decoration: none;
    padding: 3% 10%;
    margin-inline: auto;
}

.frame-in-section2 a:hover{
    opacity: 60%;
}

.image-grid{
    width: 100%;
    height: 324px;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    box-sizing: border-box;
    margin: 0px;
}

.image-grid img:hover{
    background-color: white;
    opacity: 20%;
    cursor: pointer;
}

.image-grid #grid1{
    width: 100%;
    height: 162px;
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    box-sizing: border-box;
    margin: 0px;
}

.image-grid #grid2{
    width: 100%;
    height: 162px;
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    box-sizing: border-box;
    margin: 0px;
}

.footer{
    color: white;
    background-color: #8fd3e8;
    width: 100%;
    height: 170px;
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-sizing: border-box;
}

.footer p{
    font-size: 1rem;
}

#column1-in-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10%;
}

#images-in-footer{
    display: flex;
    flex-direction: row;
    justify-content: baseline;
}

#images-in-footer img{
    padding-right: 3%;
}

#img-br1 {
    width: 10px;
}

#img-br2 {
    width: 20px;
}

#img-br3 {
    width: 23px;
}

#img-br4 {
    width: 23px;
}

#column2-in-footer{
    width: 30%;
    display: flex;
    text-align: right;
    flex-direction: column;
    justify-content: center;
    margin-right: 10%;
}

#column2-in-footer p{
    margin-top: 0px;
    margin-bottom:0px;
}

.btn-chat{
    background-color: #c5e8f4;
    width: 23%;
    height: 60px;
    box-shadow: 0 0 0.1em transparent;
    position: fixed;
    bottom: 2%;
    right: 2%;
    z-index: 9999;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
}

.btn-chat a{
    color: #476a74;
    font-family: chelsea;
    width: 100%;
    font-size: 1.1rem;
    text-decoration: none;
}

.social-media-menu{
    background-color: transparent;
    box-shadow: 0 0 0.1em transparent;
    width: fit-content;
    height: 130px;
    position: fixed;
    top: 5%;
    right: 2%;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.social-media-menu img{
    padding-bottom: 10px;
    margin-inline: auto;
}

.social-media-menu img:hover{
    cursor: pointer;
}

#sm1 {
    width: 10px;
}

#sm2 {
    width: 20px;
}

#sm3 {
    width: 23px;
}

#sm4 {
    width: 23px;
}