*{
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 130vh;
    max-width: 1920px;
    color: #151616;
    background-color: #EDF2F4;;
    font-family: Roboto, sans-serif;
    overflow-x: hidden;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 0;
    right: 0;
    margin: 0%;
}

main{
    width: 80%;
    height: 100%;
    align-self: center;
    display: flex;
    flex-direction: column;
}

#options{
    width: 100%;
    background-color: #EDF2F4;
    padding: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-shadow: 3px 3px 10px #2B2D42;
}

#options div{
    padding: 1%;
    display: flex;
    flex-direction: column;
    text-align: left;
}

#options div label{
    font-size: 1rem;
}

#options div input{
    color: #F2EA27;
    background-color: #1c5321d2;
    padding: 5px;
    font-size: 1rem;
    border-radius: 5px;
    border: 0px;
}

#frase-in-options{
    width: 60%;
}

#frase-in-options input{
    width: 100%;
}

#count-in-options{
    width: 20%;
}

#count-in-options input{
    width: 100%;
}

#btn-start{
    font-size: 1.3rem;
    width: 15%;
    border: 0px;
    height: fit-content;
    font-weight: bold;
    background-color: #F2EA27;
    align-self: center;
    padding: 1%;
    border-radius: 10px;
}

#chalkboard{
    width: 100%;
    height: 100%;
    padding: 4%;
    background-image: url("../images/aula-29-11/chalkboard.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

#textbox-in-chalkboard{
    font-size: 1.4rem;
    color: #F2EA27;
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 95%;
    border: tomato dashed;
}